/* mobile */
@media (max-width: 768px) {
	/* ========== layout ========== */
	.wrap{
		grid: 'header'
					'container';
		grid-template-columns: 1fr;
	}

	.header{
		position: relaitve;
	}


	/* header */
	.header .page__title{
		display: none;
	}
	.wrap .header .section__title--mobile{
		display: block;
		font-size: 20px;
	}

	/* gnb */
	.header .button__nav{
		display: block;
		position: absolute;
		right: 16px;
		top: 12px;
		width: 32px;
		height: 32px;
	}
	.button__nav .nav-bar{
		position: absolute;
		left: 5px;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background-color: #fff;
	}
	.button__nav .nav-bar:first-of-type{
		top: 7px;
	}
	.button__nav .nav-bar:nth-of-type(2){
		top: 15px;
	}
	.button__nav .nav-bar:nth-of-type(3){
		top: 23px;
	}

	.gnb-wrap{
		display: none;
	}

	.gnb-wrap.show{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		padding: 20px 24px 56px;
		box-sizing: border-box;
	}

	.gnb-wrap .button__close{
		position: absolute;
		right: 16px;
		top: 12px;
		width: 32px;
		height: 32px;
	}
	.gnb-wrap .button__close .close-bar{
		position: absolute;
		left: 5px;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background-color: #fff;
	}
	.gnb-wrap .button__close .close-bar:first-of-type{
		transform: rotate(45deg);
	}
	.gnb-wrap .button__close .close-bar:nth-of-type(2){
		transform: rotate(-45deg);
	}


	/* component */
	.component-area{
		padding: 24px
	}


	/* logo temp */
	.logo.logo-rec .mark{
		font-size: 2em;
		width: 40px;
		height: 40px;
	}
	.logo.logo-rec p:last-child > span:first-child{
		font-size: 18px;
	}
	.logo.logo-rec p:last-child > span:last-child{
		font-size: 12px;
	}
}